{
    "presets": [
        "@babel/preset-env"
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "root": [
                    "./"
                ],
                "alias": {
                    "@": "./",
                    "@config": "./server/config",
                    "@routes": "./server/routes",
                    "@controllers": "./server/controllers",
                    "@web-page" : "./client/pages",
                    "@components" : "./client/components",
                    "@client": "./client/",
                    "@store" : "./client/store",
                    "@models" : "./server/models"
                }
            }
        ]
    ]
}